<p>
  <%= sanitize question.body, tags: %w(div strong br ul li ol em del pre blockquote h1 a)  %>
</p>

<div class="poster-area">
  <p>
  <%= render 'questions/user', user: @question.user %>
  </p>
  <p>
    <%= @question.created_at.strftime("%Y-%m-%d %T") %>
  </p>
  <% if @current_user && @question.user_id == @current_user.id %>
    <p>
      <%= link_button '編集', 'btn-info', edit_question_path(@question) %>
    </p>
  <% end %>
</div>

